<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Accounting</title>
    <!-- For Devlopment -->

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/thirdparty/bootstrapValidator.css">
    <link rel="stylesheet" href="css/own/style.css">

    <script src="scripts/js/thirdparty/angular.min.js"></script>
    <script src="scripts/js/own/login.js">

    </script>
    <script type="text/javascript" src="scripts/js/thirdparty/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="scripts/js/thirdparty/bootstrapValidator.js">
    </script>
    <!-- For production -->
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>-->
    <!--<script type="text/javascript" src="scripts/js/own/login.js"></script>-->
  </head>
<!--<body class="bg-color"  ng-app="login" ng-controller="loginController">-->

<body class="bg-color" ng-app="login" ng-controller="loginController">
    <div class="container">
	       <div class="login">
		          <h4>Login to Accounting</h4>
			             <hr>
                    <form id="loginform" method="post" ng-submit="submit()" class="login-inner form-horizontal" name="loginForm">

                      <div class="form-group">
                      <input type="email"  ng-model="email" name="userName" class="login-control" id="email-input" placeholder="Enter email">
                      </div>

                      <div class="form-group">
                      <input type="password" ng-model="password" name="password" class="login-control" id="password-input" placeholder="Password">
                      </div>

                      <label class="checkbox-inline">
                        <input type="checkbox" id="remember" value="Remember me"> Remember me
                      </label>
                      <input class="btn btn-block btn-lg btn-success submit" type="submit" value="Login" ng-disabled="loginForm.$invalid">
                      <!--  <table>
                            <tr>
                            <td><input type="email"  name="userName" value="" placeholder="Email Id" ng-model="userName" required></td>
                            <td><span ng-show="loginForm.userName.$touched && loginForm.userName.$invalid">Email Id is invalid</span></td>
                          </tr>
                          <tr>
                            <td><input type="password" name="pwd" value="" placeholder="Password" ng-model="pwd" required></td>
                            <td><span ng-show="loginForm.pwd.$touched">Password can not be empty.</span></td>
                          </tr>
                          <tr>
                            <td><input type="submit" name="" value="Login" ng-click="submit()" ng-disabled="loginForm.$invalid"></td>
                          </tr>
                        </table>-->
                      </form>
                      <a href="signUp.html" class="btn btn-sm btn-primary register">Register</a>
			                <a href="#" class="btn btn-sm btn-default forgot">Forgot your password?</a>
                    </div>
                  </div>
  <!--  <span>{{codeStatus}}</span>-->
  <script type="text/javascript">
$(document).ready(function() {
    $('#loginform')
    .bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            userName: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required and can\'t be empty'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    },

                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required and can\'t be empty'
                    },
                    regexp: {
                        regexp: /^(?=.*[0-9])(?=.*[a-zA-Z])/,
                        message: 'The Password must have atleast one alphabet and one number'
                    },
                    stringLength: {
                            min: 6,
                            message: 'The password must be more than 6 characters long'
                        },
                        different: {
                            field: 'userName',
                            message: 'The username and password cannot be the same as each other'
                        }
                }
            }
        }
    })
  });
  </script>
  </body>
</html>
